.top-main-section {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    height: 300px;
    background: linear-gradient(to right, rgba(3,25,56,0.95) 40%, rgba(3,25,56,0.20));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.text-container {
    display: inline-block;
}

.service-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    color: white;
    margin-bottom: 10px;
}

.underline {
    background-color: orange;
    width: 200px;
    height: 2px;
    margin-bottom: 30px;
}

.service-description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    width: 470px;
    margin-top: 15px;
    color: white;
    line-height: 30px;
}

.lautech-school-gate {
    position: absolute;
    height: 300px;
    width: 1345px;
    object-fit: cover;
    right: 0px;
    left: 0px;
    filter: opacity(0.1);
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    right: 600px;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}

.dot {
    width: 18px;
    height: 6px;
    background: white;
    border-radius: 20px;
}

.service-middle-section {
    position: absolute;
    top: 370px;
    left: 0px;
    right: 0px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorial-service {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(3,25,56);
    margin-bottom: 10px;
    
}

.service-underline {
    background-color: orange;
    width: 50px;
    height: 2px;
    margin-left: 100px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 10px;
    margin-top: 5px;
}

.session-tutorial,
.personal-assist,
.ass-help,
.exam-preparation,
.history-record,
.board-notice,
.resource-study,
.academic-support {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 290px;
    height: 170px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    margin-top: 5px;
}

.tutorial-title {
    font-weight: bold;
    color: rgb(3,25,56);
    margin-top: 10px;
}

.tutorial-description {
    width: 245px;
    color: rgb(15, 50, 100);
    margin-top: 15px;
}

.encourage-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(227, 241, 253);
    border-radius: 10px;
    height: 60px;
    width: 1220px;
    margin-top: 20px;
    margin-left: 5px;
}

.grad-hat {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background-color: rgb(227, 241, 253);
    margin-left: 100px;
}

.encourage-text {   
    margin-left: 30px;
}

.encourage-words {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(3,25,56);
}

.little-quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}